@import "~/common/stylesheet/index";

.hold_view {
  flex: 1;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: $theme-light;

  input,
  textarea {
    background: $theme-lighter;
    color: $theme-dark;
    border: none;
    padding: .5rem;
  }

  .status {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $height-header;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    pointer-events: none;

    .time {
      font-size: 2rem;
      width: 2em;
      padding-left: 0;
      padding-right: 0;
      pointer-events: auto;
      text-align: center;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .problem_panel {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;

    > * {
      flex-shrink: 0;
    }

    .image_uploader {
      height: 20rem;
      margin-bottom: 1rem;
    }

    .title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: $theme-dark;
      font-weight: bold;
    }

    .content {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: $theme-dark;
    }

    .price {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      span {
        font-size: 1.6rem;
        margin-right: .4rem;
      }

      input {
        font-size: 1.6rem;
        flex: 1;
      }
    }

    .button {
      color: $theme-lighter;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      margin-bottom: 1rem;

      &.add_testcase {
        background-color: $theme-dark;
      }

      &.save {
        flex: 1;
        background-color: $theme-green;
        margin-right: 1rem;
      }

      &.remove {
        width: 8rem;
        background-color: $theme-red;
      }

      &.disabled {
        pointer-events: none;
        filter: grayscale(100%);
      }
    }

    .publicity {
      display: flex;

      .button {
        flex: 1;
        background-color: $theme-normal;

        &.active {
          background-color: $theme-dark;
        }
      }
    }

    .toolbar {
      display: flex;
    }
  }

  .player {
    display: flex;
    align-items: center;
    height: $height-header;
    color: $theme-light;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: $theme-normal;

    &:hover {
      position: relative;
      z-index: 999;
      box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    }

    .picture {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      background-size: cover;
      margin-right: .4rem;
    }

    .name {
      flex: 1;
    }
  }
}
